.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    height: 40px;
    background-color: rgb(46, 65, 84);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
