/*Stylesheet for Header*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    font-family: "Roboto";
    padding: 15px;
    font-size: 1.6rem;
    background-color: rgb(46, 65, 84);
    color: white;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.headerIcon {
    height: 80px;
}
